// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


#admin-page {
  padding-top: 0 !important;
}

.reply_form {
  display: none;
}

.comment_reply_container {
  margin-top: 45px !important;
}
